/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	padding: 1rem;
}
body {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	background-color: #1e8dd5;
}

#nav-bar {
	text-align: right;
	list-style: none;
	background-color: #2d3e50;
}
#home {
	color: white;
}

#logo {
	float: left;
	padding: 1rem 1rem 1rem 2rem;
	color: white;
	text-decoration: none;
}

.nav-bar {
	display: inline-block;
	color: #68b2e3;
}

#content {
	margin: auto;
	width: 35%;
	max-width: 90%;
	margin-top: 10%;
	display: block;
	text-align: center;
}
#content h3 {
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 3rem;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: normal;
}
#content p {
	padding: 1rem;
	margin: 1rem;
	color: white;
	text-transform: uppercase;
}
#content a {
	padding: .5rem 3rem 0.5rem 3rem;
	background-color: white;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	color: #1e8dd5;
}
#get-started:hover {
	color: #2d3e50;
}

#home:hover, #tour:hover, #sign-up:hover {
	color: white;
}

#home:focus {
	color: white;
}